<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script type="text/javascript">
        function fnShowSubMenu(obj) {
            if ($(obj).next('ul').hasClass('open')) {
                $(obj).next('ul').addClass('close');
                $(obj).next('ul').removeClass('open');
            }
            else {
                $(obj).next('ul').addClass('open');
                $(obj).next('ul').removeClass('close');
            }
        }


        </script>
</head>
<body>
    <div class="leftbar">
        <a href="#" class="main_logo">
            Online Carrer Portal
        </a>
        <ul>
            <li class="left_superadmin">
                <a href="#" onclick="fnShowSubMenu(this);">Jobs</a>
                <ul class="close">
                    <li><a href="@Url.Action("Index", "Job", new { menuID = "PostJob" })">Post Job</a></li>
                    <li><a href="#" onclick="fnShowSubCategory()">View Posted Jobs</a></li>
                </ul>
            </li>
            <li class="left_usermnagment">
                <a href="#" onclick="fnShowSubMenu(this);">Interview</a>
                <ul class="close">
                    <li><a href="@Url.Action("AppliedJobsEmployer", "Job", new { menuID = "ScheduleInterviews" })" >Schedule Interviews</a> </li>
                </ul>
            </li>
            <li class="left_empl">
                <a href="#" onclick="fnShowSubMenu(this);">Carrer</a>
                <ul class="close">
                    <li><a href="@Url.Action("SearchJob", "Job", new { menuID = "SearchJobs" })">Search Jobs</a> </li>
                    <li><a href="@Url.Action("AppliedJobsSeeker", "Job", new { menuID = "AppliedJobs" })">Applied Jobs</a> </li>
                    <li><a href="@Url.Action("ScheduledJobsSeeker", "Job", new { menuID = "ScheduledInterview" })">Scheduled Interview</a> </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="right_content">
        <div class="header">
            <a href="#" class="logout">Log out</a>
        </div>
        @RenderBody()
    </div>   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
